.tbToolbarSetBG_Green
{
	background-image: url(../../image/toolbar/toolbar_bg_green.gif);
	background-repeat: repeat-x;
	display: inline-table;
}
.tbHandleDiv_Green
{
	background-image: url(../../image/toolbar/toolbar_handle_green.gif);
	background-repeat: no-repeat;
	background-position: center center;

	margin: 0px;
	width: 7px;
	height: 22px;
}
.tbSeparator_Green
{
	background-color: #c3d87b;
	margin: 2px;
	width: 1px;
	height: 16px;
}

.tbButton_Green
{
	width: 20px;
	height: 20px;
}
.tbButton_Over_Green
{
	margin: 0px ;
	border: #a2bb43 1px solid;
	background-color: #e8ff8e;

	width: 20px;
	height: 20px;
}
.tbButton_Down_Green
{
    margin: 0px;
	border: #a2bb43 1px solid;
	background-color: #d7e99b;

	width: 20px;
	height: 20px;
}
.tbButton_Up_Green
{
    margin: 0px;
	border: #a2bb43 1px solid;
	background-color: #d0e291;

	width: 20px;
	height: 20px;
}


.tbDropDown_Area_Green
{
	width: 30px;
	height: 20px;
	cursor: default;
}
.tbDropDown_AreaOver_Green
{
	width: 30px;
	height: 20px;

	cursor: default;
	border: #a2bb43 1px solid;
	background-color: #e8ff8e;
}
.tbDropDown_AreaArrowOver_Green
{
	border-left: #a2bb43 1px solid;
	background-position: center center;
	background-image: url(../../image/toolbar/toolbar_buttonarrow.gif);
	width: 8px;
	height: 20px;
	background-repeat: no-repeat;
}
.tbDropDown_AreaDown_Green
{
	width: 30px;
	height: 20px;

	border: #a2bb43 1px solid;
	background-color: #d7e99b;
}
.tbDropDown_AreaArrowDown_Green
{
	border-left: 0px;
	background-position: center center;
	background-image: url(../../image/toolbar/toolbar_buttonarrow.gif);
	width: 8px;
	height: 20px;
	background-repeat: no-repeat;
}

.tbDropDown_AreaUp_Green
{
	width: 30px;
	height: 20px;

	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: 0px;
    background-color: #ffffff;
}
.tbDropDown_AreaUp_Green	.tbDropDown_AreaButton
{
    background-color: #F9F8F7;
}
.tbDropDown_AreaArrowUp_Green
{
	border-left: 0px;
	background-position: center center;
	background-image: url(../../image/toolbar/toolbar_buttonarrow.gif);
	width: 8px;
	height: 20px;
	background-repeat: no-repeat;
}


.tbComboBox_Area_Green
{
	cursor: default;
	margin-top: 1px;
	border: #b7b7a6 1px solid;
}
.tbComboBox_AreaOver_Green
{
	margin-top: 1px;
	cursor: default;
    border: #a2bb43 1px solid;
	background-color: #e8ff8e;
}
.tbComboBox_AreaOver_Green .tbComboBox_AreaArrow
{
    border-left: #a2bb43 1px solid;
}
.tbComboBox_AreaUp_Green
{
	margin-top: 1px;
    border: #a2bb43 1px solid;
    background-color: #b0c4de;
}
.tbComboBox_AreaUp_Green .tbComboBox_AreaArrow
{
    border-left: #a2bb43 1px solid;
}
.tbComboBox_AreaDown_Green
{
	margin-top: 1px;
	border: #a2bb43 1px solid;
	background-color: #d7e99b;
}
.tbComboBox_AreaDown_Green .tbComboBox_AreaArrow
{
    border-left: #a2bb43 1px solid;
}


.tbMenu_Area_Green
{
	border: 0px solid;

	margin-top: 3px;
	margin-bottom: 0px;
	padding-top: 1px;

	height: 16px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tbMenu_AreaOver_Green
{
    border: #a2bb43 1px solid;
	background-color: #e8ff8e;

	margin-top: 0px;
	margin-bottom: 0px;

	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tbMenu_AreaDown_Green
{
    border: #a2bb43 1px solid;
	background-color: #d7e99b;

	margin-top: 0px;
	margin-bottom: 0px;

	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tbMenu_AreaUp_Green
{
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: 0px;
	background-color: #F9F8F7;

	margin-top: 0px;
	margin-bottom: 0px;

	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tbMenu_Area_Green_FF
{
	border: 0px solid;

	margin-top: 2px;
	margin-bottom: 0px;
	padding-top: 1px;

	height: 16px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tbMenu_AreaOver_Green_FF
{
    border: #a2bb43 1px solid;
	background-color: #e8ff8e;

	margin-top: 1px;
	margin-bottom: 0px;

	padding-top: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	white-space: nowrap;
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
}

.MenuItem_Icon_Green
{
	padding-left: 1px;
	width: 22px;
	border:0px;

	background-image: url(../../image/toolbar/toolbar_menu_separator_green.gif);
}
.MenuItem_Icon_Green	.MenuItem_Image
{
	overflow: hidden;
	width: 16px;
	height: 16px;
	margin: 2px;
	background-repeat: no-repeat;
}
.MenuItem_Icon_Over_Green
{
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;

	padding-left: 0px;
	width: 22px;
	height: 18px;

	background-color: #e8ff8e;
}
.MenuItem_Icon_Over_Green	.MenuItem_Image
{
	overflow: hidden;
	width: 16px;
	height: 16px;
	margin: 2px;
	background-repeat: no-repeat;
}
.MenuItem_Blank_Over_Green
{
	border-top: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;

	width: 6px;
	height: 18px;

	background-color: #e8ff8e;
}
.MenuItem_Icon_Over_WK_Green
{
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;

	padding-left: 0px;
	width: 22px;

	background-color: #e8ff8e;
}
.MenuItem_Icon_Over_WK_Green	.MenuItem_Image
{
	overflow: hidden;
	width: 16px;
	height: 16px;
	margin: 2px;
	background-repeat: no-repeat;
}
.MenuItem_Blank_Over_WK_Green
{
	border-top: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;

	width: 6px;

	background-color: #e8ff8e;
}
.MenuItem_Caption_Over_Green
{
	height: 18px;

	border-top: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;
 
	padding-top: 2px;
	padding-left: 6px;

	font-size: 9pt;
	color: #000000;
	font-family: Arial;

	background-color: #e8ff8e;
}


.tbTabMode_Area_Green
{
    border: #a2bb43 1px solid;

	margin-top: 2px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_AreaOver_Green
{
    border: #a2bb43 1px solid;
	background-color: #e8ff8e;

	margin-top: 2px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_AreaDown_Green
{
    border: #a2bb43 1px solid;
	background-color: #d7e99b;

	margin-top: 2px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_AreaUp_Green
{
    border: #a2bb43 1px solid;
	background-color: #d0e291;

	margin-top: 2px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_Area_Green_FF
{
    border: #a2bb43 1px solid;

	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_AreaOver_Green_FF
{
    border: #a2bb43 1px solid;
	background-color: #e8ff8e;

	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_AreaDown_Green_FF
{
    border: #a2bb43 1px solid;
	background-color: #d7e99b;

	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}
.tbTabMode_AreaUp_Green_FF
{
    border: #a2bb43 1px solid;
	background-color: #d0e291;

	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 0px;
	padding-left: 5px;

	cursor: default;
	overflow: hidden;
}

.MenuWin_Green
{
	width: 100%;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	border-top: 0px;
	border-left: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;
	background-color: #F9F8F7;
}
.DD_Neck_Left_Green
{
	height: 3px;
	border-top: 0px;
	border-left: #a2bb43 1px solid;
	border-right: 0px;
	border-bottom: 0px;
    background-color: #F9F8F7;
	padding:0px;
}
.DD_Neck_Right_Green
{
	height: 3px;
	border-top: #a2bb43 1px solid;
	border-left: 0px;
	border-right: #a2bb43 1px solid;
	border-bottom: 0px;
    background-color: #F9F8F7;
	padding:0px;
}
.ContextMenuTop_Green
{
	height: 3px;
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: 0px;
    background-color: #F9F8F7;
}

.ComboBoxWin_Green
{
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;
    background-color: #FFFFFF;
}
.ComboBoxItem_Over_Green
{
	border: #a2bb43 1px solid;
}
.ComboBoxItem_Out_Green
{
	border: #dddddd 1px solid;
}

.colorWinSelection_Green
{
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;

	border-left: #a2bb43 1px solid;
	border-top: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;
    background-color: #F9F8F7;
}
.colorWin_Separator_Green
{
	width: 100%;
	height: 1px;
    background-color: #c3d87b;
}

.markWinSelection_Green
{
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;

	border: #a2bb43 1px solid;
    background-color: #F9F8F7;
}

.tbSizeBoxBackWin_Green
{
	z-index: 10301;
	position: absolute;
	background-color: #ffffff;
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
}
.tbSizeBoxStatus_Green
{
	cursor: default;
	z-index: 10301;
	position: absolute;
	background-color: #e3f4ad;
	border-left: #a2bb43 1px solid;
	border-top: #a2bb43 1px solid;
	border-right: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;
}

.tbSizeBoxCell_Green
{
	width: 18px;
	height: 18px;
	border-right: 3px solid;
	border-bottom: 3px solid;

	border-left-color: #efefef;
	border-bottom-color: #efefef;
	border-top-color: #efefef;
	border-right-color: #efefef;
}
.tbSizeBoxCell_Green TD
{
	width: 10px;
	height: 10px;
	text-align: center;

	border-right: #a2bb43 1px solid;
	border-top: #a2bb43 1px solid;
	border-left: #a2bb43 1px solid;
	border-bottom: #a2bb43 1px solid;
}

.markCellContainer_Green
{
	background-color: #c3d87b;
}
.markCellOver_Green
{
	border: 0px;
	padding: 0px;
	margin: 0px;

	cursor:default;
	width: 18px;
	height: 15px;
	background-color: #e3f4ad;

	color:#000000;
	font-family:굴림;
	font-size:9pt;
}

.tableTempleteCellOver_Green
{
	border:0px;
	padding: 0px;

	cursor:default;
	width: 100px;
	height: 76px;
	background-color: #e3f4ad;
}
.tableTempleteType_Green
{
	border-color:#a2bb43;

	font-family: 돋움;
	font-size: 8pt;
	color: #00000F;
}

.leftViewMainAreaBG_Green
{
	background-color: #F7FDE6;
}

.generalBG_Green
{
	background-color: #d0e291;
}

.codeInspectScrollbar
{
	scrollbar-face-color: #ecf8c7;
	scrollbar-shadow-color: #daec9e; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #e6f5b3; 
	scrollbar-darkshadow-color:#cbde8a; 
	scrollbar-track-color: #FFFFFF;
}

.codeInspectResult_Green
{
	cursor: default;
	border-top: 1px #d0e291 dashed;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	background-color: #f7fde6;
}

.codeInspectResultOver_Green
{
	cursor: default;
	border-top: 1px #d0e291 dashed;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	background-color: #e8ff8e;
}

.codeInspectResultSelect_Green
{
	cursor: default;
	border-top: 1px #d0e291 dashed;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	background-color: #d7e99b;
}
